body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
    flex-wrap: nowrap;
    
}

h4 {
    color: #114e7f;
}

.content, .chat, .side_nav, #messages {
    display: flex;
    justify-content: space-between;
}


.chat {
    flex: 2 80%;
    padding: 1em;
    flex-basis: 60%;
    flex-direction: column;
    -webkit-box-shadow: 0px 7px 16px 0px rgba(61,255,207,1);
-moz-box-shadow: 0px 7px 16px 0px rgba(61,255,207,1);
box-shadow: 0px 7px 16px 0px rgba(61,255,207,1);
}


#messages {
    flex-direction: column;
    overflow: auto;

}

.side_nav {
    margin-left: 1em;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

ul {
    text-decoration: none;
    list-style: none;
    max-height: 35vh;
    overflow: auto;
}

#messages {
    max-height: 40vh;
    border-spacing: 0.5em;
    border-collapse: separate;
}

#td1 {
    font-weight: bold;
}

#td1:after {
    content: ":";
}

.rooms {
    margin-top: 10px;
}

#rooms_ul {
    margin-bottom: 2em;
}

#submit {
    margin-top: 0.5em;
}

#create_room_btn {
    margin-top: -5px;
}

#submit_file {
    margin: 0;
}

.main {
    margin: auto;
    width: 80%;
    padding: 10px;
    -webkit-box-shadow: 2px 7px 16px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 7px 16px 0px rgba(0,0,0,0.65);
    box-shadow: 2px 7px 16px 0px rgba(0,0,0,0.65);
}

.input-group {
    width: 50%;
}

img {
    max-height: 100px;
    max-width: 100px;
}
